@import 'modules/theme';
@import 'partials/basic';

$error: #e74c3c;
$success: #2ecc71;

body {
  display: block;
  position: relative;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  background-color: $mainColor;
  background-image: $adminBackground;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/***********************
* side nav bar
***********************/
div.admincontent {
  margin-left: 200px;
  padding: 1px 16px;
  overflow: auto;
  height: 100%;
}

.adminsidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background: $panelColor;
  color: $fontColor;
  position: fixed;
  height: 100%;
  overflow: auto;
}

ul.adminnavlist {
  list-style-position: inside;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

/* nav bar links */
a.adminnavlistelement {
  display: block;
  color: $fontColor;
  padding: 16px;
  text-decoration: none;
  font-size: $fontSize;
}

a.adminnavlistelement > div {
  display: table-cell;
  vertical-align: middle;
}

/* nav bar active/current link */
a.adminnavlistelement.active {
  background-color: $hoverPanelColor;
  font-weight: bold;
}

/* nav bar links on mouse-over */
a.adminnavlistelement:hover:not(.active) {
  background-color: $hoverPanelColor;
  color: white;
}

#adminnavlisttextback {
  position: relative;
  top: -0.3em;
  left: 0.5em;
}

#adminnavlisttextlogout {
  padding: 5px;
}

/**************************
* Settings Content Container
**************************/

/* settings section container */
div.setting_section {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
  display: block;
  padding: 5px 5px;
  margin: 25px;
  color: $fontColor;
  background-color: $panelColor;
}

/* Clear floats */
.setting_section::after {
  content: '';
  clear: both;
  display: table;
}

.setting_section_heading {
  padding: 10px 0px;
  margin: 0px;
  text-transform: uppercase;
  font-size: 1.4em;
  font-weight: bold;
}

div.setting_element {
  float: left;
  width: 32%;
  height: 5em;
  margin-bottom: 16px;
  margin-right: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.1);
}

.hidden {
  display: none;
}

.settinglabel {
  width: 100%;
  overflow: hidden;
  font-weight: bold;
}

.floatright {
  float: right;
}

.settinginput {
  width: 100%;
}

.settinginput.color {
  width: 30%;
  display: block;
}

@media screen and (max-width: 1400px) {
  div.setting_element {
    float: left;
    width: 48%;
  }
}

@media screen and (max-width: 1000px) {
  div.setting_element {
    width: 98%;
    float: left;
  }
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .adminsidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .adminsidebar a {
    float: left;
  }
  div.admincontent {
    margin-left: 0;
    padding: 0 0;
  }
  a.adminnavlistelement {
    height: 3.5em;
  }

  div.setting_section {
    margin: 0 0 0 0;
  }
}

/* Manual as tooltip for setting element */

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  width: 300px;
  bottom: 100%;
  left: 5em;
  margin-left: -60px;
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/***************
* SAVE button
***************/

.save-btn {
  width: 15%;
  max-width: 15em;
  min-width: 6em;
  height: 3em;
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 300;
  background: $mainColor;
  color: $buttonFontColor;
  cursor: pointer;
  transition: background 0.7s ease;

  &:hover {
    background: $hoverColor;
  }

  .saving,
  .success,
  .error {
    display: none;
  }

  &.saving {
    .saving {
      display: inline-block;
    }

    .save,
    .success,
    .error {
      display: none;
    }
  }

  &.success {
    background: $success;
    .success {
      display: inline-block;
    }

    .save,
    .saving,
    .error {
      display: none;
    }
  }

  &.error {
    background: $error;
    .error {
      display: inline-block;
    }

    .save,
    .saving,
    .success {
      display: none;
    }
  }
}

/******************
* RESET button
******************/

.reset-btn {
  min-width: 7em;
  cursor: pointer;
  float: right;
  width: 15%;
  max-width: 15em;
  height: 3em;
  background: $mainColor;
  color: $buttonFontColor;
  transition: background 0.7s ease;
  z-index: 300;
  float: right;

  &:hover {
    background: $hoverColor;
  }

  .saving,
  .success,
  .error {
    display: none;
  }

  &.saving {
    .saving {
      display: inline-block;
    }

    .save,
    .success,
    .error {
      display: none;
    }
  }

  &.success {
    background: $success;
    .success {
      display: inline-block;
    }

    .save,
    .saving,
    .error {
      display: none;
    }
  }

  &.error {
    background: $error;
    .error {
      display: inline-block;
    }

    .save,
    .saving,
    .success {
      display: none;
    }
  }
}

/*****************
* Toggle Button
*****************/

/* https://wiki.selfhtml.org/extensions/Selfhtml/example.php/Beispiel:HTML-Tut-button-5.html */

.toggle input {
  display: none;
}

.toggle .slider {
  /* Grundfläche */
  position: relative;
  cursor: pointer;
  display: block;
  left: 0.2em;
  width: 2.9em;
  height: 1.4em;
  background-color: rgba(195, 46, 4, 0.6);
  border-radius: 1em;
  transition: all 0.3s ease-in-out;
}

.toggle .slider::before {
  /* verschiebbarer Button */
  position: absolute;
  content: '';
  height: 1.2em;
  width: 1.2em;
  left: 0.1em;
  bottom: 0.1em;
  background-color: white;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.toggle input:checked + .slider {
  background-color: rgba(90, 153, 00, 0.8); /* green */
}

.toggle input:focus + .slider {
  background-color: pink;
  box-shadow: 0 0 1px #5a9900;
}

.toggle input:checked + .slider:before {
  -webkit-transform: translateX(1.5em); /* Android 4 */
  -ms-transform: translateX(1.5em); /* IE9 */
  transform: translateX(1.5em);
}

.toggleTextON,
.toggleTextOFF {
  position: absolute;
  color: $fontColor;
  left: 4.5em;
}

/********************************************
* Adjust style of selectize lib for our needs - multiselects only
********************************************/
.selectize-control.multi .selectize-input.has-items {
  height: 3.35em;
  overflow: auto;
  font-size: $fontSize;
  padding: 0 0 0;
}

.selectize-control.multi .selectize-input > div.active {
  background-color: #dddddd;
}

.selectize-control.multi .selectize-input > div {
  font-family: inherit;
  font-size: $fontSize;
  margin: 0 1px 0px 0;
  padding: 0px 2px;
}
