@import 'classic_chromakeying';
@import 'partials/countdown';
@import 'partials/video_preview';
@import 'partials/email';
@import 'partials/gallery';
@import 'partials/modal';
@import 'partials/scrollbar';
@import 'partials/shutter_animation';
@import 'vendor/photoswipe';
@import 'partials/shape';

.top-bar {
  display: inline-block;
  width: 100%;
  margin: 1.5em;
}

.chromaNote {
  color: #ff0000;
  padding-bottom: 10px;
  background-color: $secondaryColor;
  border: 2px solid $borderColor;
  width: 1000px;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  max-width: 100%;
  z-index: 10;
}

.chroma-control-bar {
  margin-top: 12px;
  text-align: center;
  display: none;
  padding-top: 10px;

  @media (max-width: 576px) {
    span {
      display: none;
    }
    .btn {
      margin: 0.5em;
    }
  }
}

#gallery .controls a.close_opengal {
  display: none;
  right: 30px;
  top: 30px;
  position: fixed;
  z-index: 10000000;
  font-size: 3.125em;
  text-shadow: 0 2px 0 #000;
  color: #fff;
}

.backgrounds {
  padding-top: 10px;
  text-align: center;
}

@media (max-width: 1280px) and (orientation: landscape) {
  .chromawrapper {
    padding: 0;
    margin: 0;
  }

  .canvasWrapper {
    display: block;
    position: absolute;
    top: 40px;
    right: 0;
    width: 80%;
    max-width: 950px;
    max-height: 100%;
  }

  .top-bar {
    display: block;
    position: relative;
    top: 50px;
    left: 0;
    width: 250px;
    margin: 0;
  }

  .chromaNote {
    position: absolute;
    display: block;
    bottom: 40px;
    right: 0;
    width: 950px;
  }

  .backgrounds {
    display: block;
    position: relative;
    top: 50px;
    left: 0px;
    width: 250px;
    height: 400px;
    overflow-y: auto;
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .backgroundPreview {
    max-width: 250px;
    max-height: 150px;
  }

  .chroma-control-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 250px;
  }

  #mainCanvas {
    max-height: 100%;
  }
}

@media (max-height: 740px) and (orientation: landscape) {
  .backgrounds {
    &.shrinked {
      height: 250px;
    }
  }
}

@media (max-width: 1200px) and (orientation: landscape) {
  .canvasWrapper,
  .chromaNote {
    max-width: 750px;
    &.initial {
      width: 750px;
    }
  }
}

@media (max-width: 1000px) and (orientation: landscape) {
  .canvasWrapper,
  .chromaNote {
    max-width: 650px;
    &.initial {
      width: 650px;
    }
  }
}
