@import 'partials/basic';
@import 'partials/trigger';
@import 'partials/countdown';
@import 'partials/email';
@import 'vendor/photoswipe';
@import 'partials/gallery';
@import 'partials/scrollbar';
@import 'partials/video_animation';
@import 'partials/modal';
@import 'partials/ribbon';
@import 'partials/buzzer';
@import 'partials/video_preview';
@import 'partials/input_animated';

#wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: var(--primary-light-color);
  background-image: var(--background-default);
  background-position: center center;
  background-size: cover;
}

#no_preview {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.75em;
  color: var(--start-font-color);
  text-align: center;
}

#resultVideo {
  display: none;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#resultQR {
  position: fixed;
  width: 10em;
  &.left {
    left: 1em;
    &--top {
      top: 10em;
    }
    &--center {
      top: 50%;
    }
    &--bottom {
      bottom: 10em;
    }
  }
  &.right {
    right: 1em;
    &--top {
      top: 10em;
    }
    &--center {
      top: 50%;
    }
    &--bottom {
      bottom: 10em;
    }
  }
}

#resultVideoQR {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 80px;
  min-width: 15%;
  max-height: 30%;
  z-index: 150;
}

.qr {
  display: none;
  width: 300px;
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;

  > * {
    display: none;
  }

  &.active > * {
    display: block;
  }

  p {
    margin: 0;
    padding: 0 15px;
    font-size: 1.6em;
  }

  img {
    width: 100%;
    height: auto;
  }

  .fa,
  .material-icons {
    float: right;
  }
}

.spacer {
  clear: both;
  height: 50px;
  width: 100%;
}

.sliderImages {
  display: none;
  position: fixed;
  top: 0;
  z-index: 1000000;
  background: #000;
}

.overlay {
  display: none;
  background-color: #000;
  width: 400px;
  height: 200px;
  position: fixed;
  z-index: 1010;
  left: 50%;
  top: 50%;
  right: 0;
  bottom: 0;
}

#gallery .controls a.close_opengal {
  display: none;
  right: 30px;
  top: 30px;
  position: fixed;
  z-index: 10000000;
  font-size: 3.125em;
  text-shadow: 0 2px 0 #000;
  color: #fff;
}

.chroma-control-bar {
  margin-top: 12px;
  text-align: center;
}

.pswp-rotary-focus {
  background: var(--primary-color) !important;
}
