@import 'classic_live_chromakeying';

.backgrounds {
  margin-top: 5px;
}

@media (max-height: 740px) and (orientation: landscape) {
  .backgrounds {
    &.shrinked {
      height: 350px;
    }
  }
}

.pswp-rotary-focus {
  background: radial-gradient(grey, $mainColor, $hoverColor) !important;
}
