@import 'classic_style';
@import 'partials/modern_gallery';

html,
body {
  height: 100%;
  background: #ffffff;
  margin: 0px;
}

#start {
  .startInner {
    height: 100%;
    width: 100%;
    position: relative;
    background: none;
  }

  .fs-button {
    position: relative;
    top: auto;
    bottom: 0px;
    left: 0px;
  }

  .cups-button {
    position: fixed;
    left: 0;
    top: 0;
    bottom: auto;
  }
}

.gallery-button {
  position: relative;
  top: auto;
  bottom: 0px;
  left: auto;
}

.homebtn {
  position: fixed;
  left: 0;
  top: 0;
  bottom: auto;
  margin: 20px;
}

.resultInner {
  display: block;
  width: auto;
  max-width: 90%;
  position: fixed;
  right: 0;
  left: auto;
  bottom: -15em;
  top: auto;
  justify-content: center;
  transition: bottom 0.5s;
  z-index: 100;
  margin: 20px;
  &.show {
    position: fixed;
    bottom: 0;
  }
}

.divaussen {
  height: 100%;
  position: relative;
}

.divinnen {
  float: right;
}

.divinnen2 {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
}

.send-mail {
  border-radius: 10px;
}

@media (orientation: portrait) {
  .divinnen2 {
    margin-left: auto;
    margin-right: auto;
  }
}

.transparenz {
  opacity: 0.4;
}

hr,
hr.small {
  display: none;
}

.pswp-rotary-focus {
  background: radial-gradient(grey, $mainColor, $hoverColor) !important;
}
