@import 'modern_live_chromakeying';
@import 'partials/squared_gallery';

.round-btn {
  border: none;
  border-radius: 15%;
  margin: unset;
  flex: none;
  span {
    display: block;
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .fa {
    top: 35%;
  }
}

.closebtn {
  margin: auto;
  text-align: center;
  span {
    display: none;
    bottom: unset;
  }
  .fa {
    font-size: 2em;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
