@import 'classic_style';

hr,
hr.small {
  display: none;
}

// Override parts from classic_style.scss
.resultInner {
  display: block;
  position: fixed;
  left: auto;

  width: auto;
  max-width: 90%;
  top: auto;
  margin: 20px;

  &.show {
    position: fixed;
    bottom: 0;

    button[data-command='homebtn'] {
      position: fixed;
      top: 1rem;
      left: 1rem;
    }
    button[data-command='gallerybtn'] {
      position: relative;
      inset: auto;
    }
  }
}

.stage[data-stage='start'] {
  .startInner {
    height: 100%;
    width: 100%;
    position: relative;
    background: none;
  }
}

[data-ui-theme='modern'] {
  button[data-command='cups-button'] {
    position: fixed;
    top: 1rem;
    left: 1rem;
  }
}

// Own style parts
.divaussen {
  height: 100%;
  position: relative;
}

.divinnen {
  float: right;
}

.divinnen2 {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
}

@media (orientation: portrait) {
  .divinnen2 {
    margin-left: auto;
    margin-right: auto;
  }
}

.pswp-rotary-focus {
  background: radial-gradient(var(--highlight-color), var(--primary-color), var(--secondary-color)) !important;
}
