@import 'classic_style';

// Override parts from partials/_basic.scss
html,
body {
  height: 100%;
  background: #ffffff;
  margin: 0px;
}

hr,
hr.small {
  display: none;
}

// Override parts from classic_style.scss
.resultInner {
  display: block;
  position: fixed;
  left: auto;

  width: auto;
  max-width: 90%;
  top: auto;
  margin: 20px;

  &.show {
    position: fixed;
    bottom: 0;

    .homebtn {
      position: fixed;
      left: 0;
      top: 0;
      bottom: auto;
      margin: 20px;
    }
    .gallerybtn {
      position: relative;
      top: auto;
      bottom: 0;
      left: auto;
    }
  }
}

#start {
  .startInner {
    height: 100%;
    width: 100%;
    position: relative;
    background: none;
  }

  .gallery-button {
    position: relative;
    top: auto;
    bottom: 0;
    left: auto;
  }

  .fs-button {
    position: relative;
    top: auto;
    bottom: 0;
    left: 0;
  }

  .cups-button {
    position: fixed;
    left: 5px;
    top: 5px;
    bottom: auto;
  }
}

// Own style parts
.divaussen {
  height: 100%;
  position: relative;
}

.divinnen {
  float: right;
}

.divinnen2 {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
}

@media (orientation: portrait) {
  .divinnen2 {
    margin-left: auto;
    margin-right: auto;
  }
}

.pswp-rotary-focus {
  background: radial-gradient($hoverColor, $primaryColor, $secondaryColor) !important;
}
