@import 'modules/theme';

#start {
  .startInner {
    border: 0 none;
    border-radius: 10px;
  }
}

.resultInner {
  .btn {
    margin-left: 2px;
  }
}

.sidenav {
  .closebtn {
    border-radius: 5px;
  }
}

.btn,
.gal-action-btn {
  border-radius: 10px;
}

.gallery {
  &__close,
  &__reload {
    border-radius: 5px;
  }
}

.gallery-button,
.fs-button {
  &.round-btn {
    margin-top: auto;
    margin-left: auto;
  }
}

.admin-panel,
.manual-panel,
.login-panel {
  border: 0 none;
  border-radius: 10px;
}

.panel {
  .panel-heading,
  .panel-body {
    margin-top: 2px;
    border-radius: 5px;
  }

button {
  border: 2px solid $borderColor;
  border-radius: 10px;
}

.faq-btn,
.wiki-btn {
  border: 2px solid $borderColor;
  border-radius: 10px;
}

.slider {
  height: 15px;
  border-radius: 5px;
}

.slider::-webkit-slider-thumb,
.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.toggle {
  border-radius: 0.5em;
}

.toggle:before {
  border-radius: 50%;
}
