@import 'modules/theme';
@import 'partials/fonts';
@import 'partials/basic';
@import 'partials/button';

.images {
  h1 {
    text-align: center;
    color: $fontColor;
  }
}

.sshow {
  display: block;
  position: relative;
  overflow-y: auto;
  background-color: $mainColor;
  background-image: $adminBackground;
  background-position: center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

#slideshow {
  img {
    border: 2px solid $borderColor;
    max-width: 80vw;
    max-height: 80%;
    width: auto;
  }
  figure {
    margin: 0;
  }

  figcaption {
    color: $fontColor;
    text-align: center;
    background-color: $hoverColor;
    border: 2px solid $borderColor;
  }
}

#slideshow > div {
  position: absolute;
}
