@import 'modules/theme';
@import 'partials/fonts';
@import 'partials/basic';
@import 'partials/button';
@import 'partials/video_preview';
@import 'partials/shape';

#wrapper {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: $secondaryColor;
  background-image: $backgroundImage;
  background-position: center center;
  background-size: cover;
}

#no_preview {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.75em;
  color: $startFontColor;
  text-align: center;
}

.buttonbar {
  position: absolute;
  bottom: 0;
  left: 4em;
  z-index: 100;
  .startPreview,
  .stopPreview,
  .showPictureFrame,
  .showCollageFrame,
  .hideFrame {
    position: relative;
    padding: 10px;
    margin: 1em;
    text-align: center;
    span {
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-size: 1em;
      bottom: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }
}

@media (orientation: portrait) {
  .buttonbar {
    bottom: -2em;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .startPreview,
  .stopPreview,
  .showPictureFrame,
  .showCollageFrame,
  .hideFrame {
    &.btn--modern,
    &.btn--modern_squared {
      width: 5em;
      height: 5em;
    }
  }
}
