@import 'modules/theme';
@import 'partials/fonts';
@import 'partials/basic';
@import 'partials/button';
@import 'partials/video_preview';
@import 'partials/shape';

#wrapper {
  display: block;
  position: relative;
  overflow: scroll;
  width: 100%;
  height: 100%;
  background-color: $secondaryColor;
  background-image: $backgroundImage;
  background-position: center center;
  background-size: cover;
}

.buttonbar {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 70%;
  height: 80%;
  overflow: scroll;
  .btn {
    position: relative;
    padding: 10px;
  }
}

.btn {
  font-size: 2em;
}
