@import 'modules/theme';
@import 'partials/fonts';
@import 'partials/basic';
@import 'partials/button';
@import 'partials/shape';
@import 'partials/scrollbar';

html,
body {
  background-color: $panelColor;
  p {
    font-size: 1.2em;
  }
  h3 {
    font-size: 1.3em;
  }
  overflow-y: auto;
}

.welcome {
  padding: 1em;
  text-align: center;
  color: $fontColor;
  a {
    color: $fontColor;
  }
  a:link,
  a:visited {
    text-decoration: none;
  }
  a:hover,
  a:active {
    text-decoration: underline;
  }
}

.security-advice {
  color: #000000;
  background-color: #ffff00;
}

#start .logo_bottom_left img,
#start .logo_bottom_right img,
#start .logo_top_right img,
#start .logo_top_left img {
  width: 100px !important;
  height: auto;
}
