[submodule "vendor/PHPMailer"]
	path = vendor/PHPMailer
	url = https://github.com/PHPMailer/PHPMailer
[submodule "vendor/rpihotspot"]
	path = vendor/rpihotspot
	url = https://github.com/andi34/rpihotspot
[submodule "vendor/PhotoSwipe"]
	path = vendor/PhotoSwipe
	url = https://github.com/andi34/PhotoSwipe
[submodule "vendor/Seriously"]
	path = vendor/Seriously
	url = https://github.com/brianchirls/Seriously.js
