[submodule "vendor/Seriously"]
	path = vendor/Seriously
	url = https://github.com/brianchirls/Seriously.js
    ignore = dirty
[submodule "vendor/phpqrcode"]
	path = vendor/phpqrcode
	url = https://github.com/PhotoboothProject/phpqrcode
    ignore = dirty
