archives/
bower_components/
config/*
!config/config.inc.php
!config/tailwind.admin.config.js
data/
digicamcontrol/
HEAD
faq/faq.md.php
manual/faq.*
node_modules/
package-lock.json
private/*
!private/README.md
resources/css/*
!resources/css/README.md
resources/js/*
!resources/js/README.md
src/sass/custom_chromakeying.css
src/sass/custom_live_chromakeying.css
src/sass/custom_style.scss
stats
template/custom.template.php
trash
vendor/PhotoSwipe/
vendor/simple-translator/
.sass-cache
/.htaccess
.htpasswd
*.patch
.skip_welcome
.vscode
venv/

# ignore some IDE and OS files
*.iml
*.ipr
*.iws
.idea/
**/.DS_Store