archives/
bower_components/
config/*
!config/config.inc.php
data/
digicamcontrol/
HEAD
manual/faq.*
node_modules/
private/*
!private/README.md
resources/css/*
!resources/css/README.md
resources/js/*
!resources/js/README.md
resources/revisions.json
src/sass/custom_chromakeying.css
src/sass/custom_live_chromakeying.css
src/sass/custom_style.scss
stats
template/custom.template.php
tools/
var/
trash
vendor/autoload.php
vendor/bacon/
vendor/composer/
vendor/dasprid/
vendor/dflydev/
vendor/endroid/
vendor/league/
vendor/monolog/
vendor/nette/
vendor/phpmailer/
vendor/psr/
vendor/simple-translator/
vendor/symfony/
.php-cs-fixer.cache
.sass-cache
/.htaccess
.htpasswd
*.patch
.skip_welcome
.vscode
venv/
yarn.lock

# ignore some IDE and OS files
*.iml
*.ipr
*.iws
.idea/
**/.DS_Store
