[submodule "vendor/PHPMailer"]
	path = vendor/PHPMailer
	url = https://github.com/PHPMailer/PHPMailer
[submodule "vendor/Seriously"]
	path = vendor/Seriously
	url = https://github.com/brianchirls/Seriously.js
[submodule "vendor/phpqrcode"]
	path = vendor/phpqrcode
	url = https://github.com/PhotoboothProject/phpqrcode
