archives/
bower_components/
config/*
!config/config.inc.php
!config/tailwind.admin.config.js
data/
digicamcontrol/
HEAD
manual/faq.*
node_modules/
private/*
!private/README.md
resources/css/*
!resources/css/README.md
resources/js/*
!resources/js/README.md
resources/revisions.json
stats
trash
vendor/PhotoSwipe/
vendor/simple-translator/
.sass-cache
/.htaccess
.htpasswd
*.patch
/welcome/.skip_welcome
.skip_welcome
.vscode
venv/
yarn.lock
var/

# tooling
tools/*/vendor

# php-cs-fixer
.php-cs-fixer.cache

# phplint
.phplint.cache

# phpunit
.phpunit.result.cache

# ignore some IDE and OS files
.ddev/
*.iml
*.ipr
*.iws
.idea/
**/.DS_Store

/vendor/
