[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=photobooth
Exec=chromium-browser --noerrdialogs --start-fullscreen --kiosk http://10.10.10.10 --incognito --disable-translate --no-first-run --fast --fast-start --disable-infobars --touch-events=enabled
Icon=/var/www/html/resources/img/favicon-96x96.png
StartupNotify=false
Terminal=false
