includes:
    - tools/phpstan/vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    level: 8
    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        - identifier: missingType.iterableValue

    bootstrapFiles:
        - %currentWorkingDirectory%/tools/phpunit/vendor/autoload.php

    scanFiles:
        - %currentWorkingDirectory%/lib/boot.php
        - %currentWorkingDirectory%/admin/admin_boot.php

    paths:
        - %currentWorkingDirectory%/api/
        - %currentWorkingDirectory%/src/
        - %currentWorkingDirectory%/tests/
