:root {
    // default values are specified in lib/config.php
    --primary-color: transparent;
    --secondary-color: transparent;
    --font-color: transparent;
    --background-default: none;
    --background-admin: none;
    --background-chroma: none;
}

$mainColor: var(--primary-color);
$hoverColor: var(--secondary-color);
$fontColor: var(--font-color);

$backgroundImage: var(--background-default);
$adminBackground: var(--background-admin);
$chromaBackground: var(--background-chroma);