.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 9999;
    justify-content: center;
    align-items: center;

    &--show {
        display: flex;
    }

    &__body {
        color: #ffffff;
        font-size: 2em;
        text-align: center;
        max-width: 100%;
        padding: 6px;

        * {
            max-width: 100%;
        }

        #qrCode & {
            background-color: #ffffff;
            color: #252525;

            p {
                margin: 0;
                font-size: 0.7em;
                width: 350px;
            }
        }
    }
}
