#slideshow {
  margin: 0px auto;
  margin-top: 10%;
  position: relative;

  img {
    border:2px solid black;
  }
  figure {
    margin: 0;
  }

  figcaption {
    color: #fff;
    text-align: center;
  }
}

#slideshow > div {
  position: absolute;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
