/**
 * Base
 */
* {
  user-select: none;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  background: var(--secondary-color);
}

html {
  touch-action: none;
  font-size: var(--ui-scale);
}

html,
body {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: var(--primary-light-color);
  background-image: var(--background-default);
  background-position: center center;
  background-size: cover;
  font-size: 1rem;
  text-size-adjust: auto;
}
