/**
 * Dialog
 */
:root {
  --dialog-color: #313131;
  --dialog-background: #ffffff;
  --dialog-font-size: inherit;
  --dialog-line-height: inherit;
  --dialog-padding: 2rem;
  --dialog-spacing: 2rem;

  --dialog-button-color: var(--button-font-color);
  --dialog-button-background: var(--primary-color);
  --dialog-button-font-size: 1rem;
  --dialog-button-font-weight: 400;
  --dialog-button-icon-size: 1rem;
  --dialog-button-padding-y: 1rem;
  --dialog-button-padding-x: 1rem;
  --dialog-button-border-width: 0;
  --dialog-button-border-color: var(--border-color);
  --dialog-button-border-radius: 0;
  --dialog-button-height: auto;
  --dialog-button-width: auto;
  --dialog-button-gap: 0.25rem;
  --dialog-button-direction: row;
  --dialog-button-focus-background: color-mix(in srgb, var(--dialog-button-background), var(--dialog-button-color) 20%);
}

.dialog {
  flex-direction: column;
  display: flex;
  position: relative;
  color: var(--dialog-color);
  background: var(--dialog-background);
  max-width: calc(100dvw - var(--dialog-spacing) * 2);
  max-height: calc(100dvh - var(--dialog-spacing) * 2);
  border: 0;
  padding: 0;

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
  }

  &-message {
    text-align: center;
    overflow-y: scroll;
    font-size: var(--dialog-font-size);
    line-height: var(--dialog-line-height);
    padding: var(--dialog-padding);
  }
}

.dialog-buttonbar {
  display: flex;
  background: color-mix(in srgb, var(--dialog-button-background), var(--dialog-button-color) 40%);
  gap: 1px;
}

.dialog-button {
  flex-grow: 1;
  display: inline-flex;
  flex-direction: var(--dialog-button-direction);
  padding: var(--dialog-button-padding-y) var(--dialog-button-padding-x);
  gap: var(--dialog-button-gap);
  font-size: var(--dialog-button-font-size);
  font-weight: var(--dialog-button-font-weight);
  color: var(--dialog-button-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  height: var(--dialog-button-height);
  width: var(--dialog-button-width);
  border: var(--dialog-button-border-width) solid var(--dialog-button-border-color);
  border-radius: var(--dialog-button-border-radius);
  background: var(--dialog-button-background);
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  line-height: 1;

  &.focused,
  &:hover,
  &:focus {
    --dialog-button-background: var(--dialog-button-focus-background);
  }

  &[disabled] {
    opacity: 0.5;
  }

  &--icon {
    font-size: var(--dialog-button-icon-size);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
