/**
 * Stage
 */
:root {
  --stage-color: inherit;
  --stage-background: transparent;
  --stage-background-image: none;
  --stage-background-size: contain;
  --stage-start-color: var(--start-font-color);
  --stage-start-background: transparent;
  --stage-chroma-color: inherit;
  --stage-chroma-background: var(--background-chroma);
  --stage-loader-color: inherit;
  --stage-loader-background: var(--background-countdown-color);
  --stage-result-color: inherit;
  --stage-result-background: var(--background-countdown-color);
  --stage-result-scale-background: var(--ui-scale-result);
}

.stage {
  display: none;
  height: 100dvh;
  width: 100dvw;
  justify-content: center;
  align-items: center;
  color: var(--stage-color);
  background: var(--stage-background);
  background-repeat: no-repeat;
  background-image: var(--stage-background-image);
  background-position: center center;
  background-size: var(--stage-background-size);

  &--active {
    display: flex;
  }

  &--start {
    --stage-color: var(--stage-start-color);
    --stage-background: var(--stage-start-background);
  }

  &--chroma {
    --stage-color: var(--stage-chroma-color);
    --stage-background: var(--stage-chroma-background);
  }

  &--loader {
    --stage-color: var(--stage-loader-color);
    --stage-background: var(--stage-loader-background);
  }

  &--result {
    --stage-color: var(--stage-result-color);
    --stage-background: var(--stage-result-background);
    --stage-background-size: var(--stage-result-scale-background);
  }

  &-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
    padding: 2rem;
    gap: 1rem;

    #selfie-preview {
      display: none;
      max-width: 40vw;
      max-height: 40vh;
      object-fit: contain;
    }
  }

  &-image {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: center center no-repeat;
    background-size: contain;
  }

  &-code {
    position: absolute;
    width: 10rem;
    &.left {
      left: 2rem;
      &--top {
        top: 10rem;
      }
      &--center {
        top: 50%;
        translate: 0 -50%;
      }
      &--bottom {
        bottom: 10rem;
      }
    }
    &.right {
      right: 2rem;
      &--top {
        top: 10rem;
      }
      &--center {
        top: 50%;
        translate: 0 -50%;
      }
      &--bottom {
        bottom: 10rem;
      }
    }
  }

  &-message {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    font-size: 3rem;
    text-align: center;
    width: calc(100% - 4rem);

    &--error {
      color: var(--error-color);
    }
    &--warning {
      color: var(--warning-color);
    }
    &--success {
      color: var(--success-color);
    }
  }
}
