:root {
  --primary-color: #e67e22;
  --secondary-color: #d35400;
  --font-color: #ffffff; }

#start {
  display: block; }

button {
  border: 0 none;
  color: #fff; }

input[type="text"],
select {
  background: #f8f9fc;
  border: 1px solid #eff2f7;
  border-radius: 4px;
  height: 31px;
  line-height: 31px;
  width: 100%;
  padding: 0 10px; }

input[type="checkbox"] {
  margin-right: 5px; }

.admin-panel {
  width: 500px;
  padding: 30px 30px 90px;
  height: auto;
  margin: 50px auto;
  background: #fff;
  position: relative;
  max-width: 100%; }

.panel .panel-heading {
  padding: 10px;
  cursor: pointer;
  border: 1px solid #eee; }
  .panel .panel-heading .plus {
    display: inline-block; }
  .panel .panel-heading .minus {
    display: none; }
  .panel .panel-heading:hover {
    background: #fafafa; }

.panel .panel-body {
  display: none;
  padding: 20px;
  border: 1px solid #eee; }

.panel.open .panel-heading .minus {
  display: inline-block; }

.panel.open .panel-heading .plus {
  display: none; }

.panel.init .panel-body {
  display: block; }

.form-row {
  margin-bottom: 15px; }

.save-btn,
.reset-btn {
  background: var(--primary-color);
  width: 100%;
  position: absolute;
  padding: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  transition: background 0.7s ease; }
  .save-btn:hover,
  .reset-btn:hover {
    background: var(--secondary-color); }
  .save-btn .saving,
  .save-btn .success,
  .save-btn .error,
  .reset-btn .saving,
  .reset-btn .success,
  .reset-btn .error {
    display: none; }
  .save-btn.saving .saving,
  .reset-btn.saving .saving {
    display: inline-block; }
  .save-btn.saving .save,
  .save-btn.saving .success,
  .save-btn.saving .error,
  .reset-btn.saving .save,
  .reset-btn.saving .success,
  .reset-btn.saving .error {
    display: none; }
  .save-btn.success,
  .reset-btn.success {
    background: #2ecc71; }
    .save-btn.success .success,
    .reset-btn.success .success {
      display: inline-block; }
    .save-btn.success .save,
    .save-btn.success .saving,
    .save-btn.success .error,
    .reset-btn.success .save,
    .reset-btn.success .saving,
    .reset-btn.success .error {
      display: none; }
  .save-btn.error,
  .reset-btn.error {
    background: #e74c3c; }
    .save-btn.error .error,
    .reset-btn.error .error {
      display: inline-block; }
    .save-btn.error .save,
    .save-btn.error .saving,
    .save-btn.error .success,
    .reset-btn.error .save,
    .reset-btn.error .saving,
    .reset-btn.error .success {
      display: none; }

.reset-btn {
  background: #e74c3c;
  position: absolute;
  top: 50px;
  right: 30px;
  left: auto;
  width: auto;
  bottom: auto;
  padding: 5px 10px; }
  .reset-btn:hover {
    background: #c0392b; }

.back-to-pb {
  color: #2b2127;
  text-decoration: none; }
