/* line 6, ../sass/admin.scss */
#start {
  display: block;
}

/* line 10, ../sass/admin.scss */
body {
  overflow: auto;
  background: url(../img/bg.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* line 17, ../sass/admin.scss */
button {
  border: 0 none;
  color: #fff;
}

/* line 24, ../sass/admin.scss */
input[type="text"],
select {
  background: #f8f9fc;
  border: 1px solid #eff2f7;
  border-radius: 4px;
  height: 31px;
  line-height: 31px;
  width: 100%;
  padding: 0 10px;
}

/* line 35, ../sass/admin.scss */
input[type="checkbox"] {
  margin-right: 5px;
}

/* line 39, ../sass/admin.scss */
.admin-panel {
  width: 500px;
  padding: 30px 30px 90px;
  height: auto;
  margin: 50px auto;
  background: #fff;
  position: relative;
}

/* line 49, ../sass/admin.scss */
.panel .panel-heading {
  padding: 10px;
  cursor: pointer;
  border: 1px solid #eee;
}
/* line 53, ../sass/admin.scss */
.panel .panel-heading .plus {
  display: inline-block;
}
/* line 56, ../sass/admin.scss */
.panel .panel-heading .minus {
  display: none;
}
/* line 60, ../sass/admin.scss */
.panel .panel-heading:hover {
  background: #fafafa;
}
/* line 65, ../sass/admin.scss */
.panel .panel-body {
  display: none;
  padding: 20px;
  border: 1px solid #eee;
}
/* line 73, ../sass/admin.scss */
.panel.open .panel-heading .minus {
  display: inline-block;
}
/* line 76, ../sass/admin.scss */
.panel.open .panel-heading .plus {
  display: none;
}
/* line 83, ../sass/admin.scss */
.panel.init .panel-body {
  display: block;
}

/* line 89, ../sass/admin.scss */
.form-row {
  margin-bottom: 15px;
}

/* line 93, ../sass/admin.scss */
.save-btn,
.reset-btn {
  background: #e67e22;
  width: 100%;
  position: absolute;
  padding: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  transition: background 0.7s ease;
}
/* line 104, ../sass/admin.scss */
.save-btn:hover,
.reset-btn:hover {
  background: #d35400;
}
/* line 108, ../sass/admin.scss */
.save-btn .saving,
.save-btn .success,
.save-btn .error,
.reset-btn .saving,
.reset-btn .success,
.reset-btn .error {
  display: none;
}
/* line 115, ../sass/admin.scss */
.save-btn.saving .saving,
.reset-btn.saving .saving {
  display: inline-block;
}
/* line 119, ../sass/admin.scss */
.save-btn.saving .save,
.save-btn.saving .success,
.save-btn.saving .error,
.reset-btn.saving .save,
.reset-btn.saving .success,
.reset-btn.saving .error {
  display: none;
}
/* line 126, ../sass/admin.scss */
.save-btn.success,
.reset-btn.success {
  background: #2ecc71;
}
/* line 128, ../sass/admin.scss */
.save-btn.success .success,
.reset-btn.success .success {
  display: inline-block;
}
/* line 132, ../sass/admin.scss */
.save-btn.success .save,
.save-btn.success .saving,
.save-btn.success .error,
.reset-btn.success .save,
.reset-btn.success .saving,
.reset-btn.success .error {
  display: none;
}
/* line 139, ../sass/admin.scss */
.save-btn.error,
.reset-btn.error {
  background: #e74c3c;
}
/* line 141, ../sass/admin.scss */
.save-btn.error .error,
.reset-btn.error .error {
  display: inline-block;
}
/* line 145, ../sass/admin.scss */
.save-btn.error .save,
.save-btn.error .saving,
.save-btn.error .success,
.reset-btn.error .save,
.reset-btn.error .saving,
.reset-btn.error .success {
  display: none;
}

/* line 153, ../sass/admin.scss */
.reset-btn {
  background: #e74c3c;
  position: absolute;
  top: 50px;
  right: 30px;
  left: auto;
  width: auto;
  bottom: auto;
  padding: 5px 10px;
}
/* line 163, ../sass/admin.scss */
.reset-btn:hover {
  background: #c0392b;
}

/* line 168, ../sass/admin.scss */
.back-to-pb {
  color: #2b2127;
  text-decoration: none;
}
