body {
  background-color: #f0f6f7
  color: #2e535e;
}

.adminpanel {
  background: #a89c94;
}

#start, #admin, #install {
  background: url(../img/bg_bluegray.jpg) center center no-repeat;
}

.spinner {
  color: #ff4f58;
}

.btn {
  background: #669db3;
  color: #f0f6f7;
}

.btn:active,
.btn:focus,
.btn:hover {
  background: #2e535e;
}

.qrbtn {
  background: #669db3;
  color: #f0f6f7;
}

.qrbtn:hover {
  background: #2e535e;
  color: #f0f6f7;
}

.qrbtn.active {
  background: #2e535e !important;
  color: #f0f6f7;
}

.loading {
  color: #ff4f58;
}

.stages {
  color: #ff4f58;
}

.middeline {
  color: #f0f6f7;
}

#gallery {
  background: #669db3;
}

.galHeader {
  background: #669db3;
}

.sliderImages {
  background: #2e535e;
}

.close_gal {
  background: #2e535e;
}

.close_gal:hover {
  background-color: #ff4f58;
}

.overlay {
  background-color: #2e535e;
}

.sidenav a {
  color: #f0f6f7;
  background-color: rgba(240, 246, 247, 0.2);
}

.sidenav a:hover {
  color: #f0f6f7;
  background-color: rgba(46, 83, 94, 0.8);
}

.activeSidenavBtn {
  background-color: rgba(46, 83, 94, 1);
}

.activeSidenavBtn a{
  color: #f0f6f7;
}
