::-webkit-scrollbar {
  width: 40px;
}
/* Track */
::-webkit-scrollbar-track {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  background: #d35400;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #d35400;
}

@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 200;
  src: local("Dosis ExtraLight"), local("Dosis-ExtraLight"), url(../fonts/dosis/ExtraLight.woff) format("woff");
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 300;
  src: local("Dosis Light"), local("Dosis-Light"), url(../fonts/dosis/Light.woff) format("woff");
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local("Dosis Regular"), local("Dosis-Regular"), url(../fonts/dosis/Regular.woff) format("woff");
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 500;
  src: local("Dosis Medium"), local("Dosis-Medium"), url(../fonts/dosis/Medium.woff) format("woff");
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 600;
  src: local("Dosis SemiBold"), local("Dosis-SemiBold"), url(../fonts/dosis/SemiBold.woff) format("woff");
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 700;
  src: local("Dosis Bold"), local("Dosis-Bold"), url(../fonts/dosis/Bold.woff) format("woff");
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 800;
  src: local("Dosis ExtraBold"), local("Dosis-ExtraBold"), url(../fonts/dosis/ExtraBold.woff) format("woff");
}
/* line 48, ../sass/style.scss */
* {
  -ms-content-zooming: none;
}

/* line 52, ../sass/style.scss */
h1, h2 {
  font-weight: 300;
}

/* line 56, ../sass/style.scss */
.deselect ::selection {
  background: transparent;
  color: inherit;
}

/* line 60, ../sass/style.scss */
.deselect ::-moz-selection {
  background: transparent;
  color: inherit;
}

/* line 64, ../sass/style.scss */
.deselect {
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* line 71, ../sass/style.scss */
body {
  background-color: #fff;
  padding: 0;
  margin: 0;
  font-family: 'Dosis', sans-serif;
  font-weight: 300;
  color: #2b2127;
  font-size: 1em;
  line-height: 1.5;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
}

/* line 86, ../sass/style.scss */
* {
  box-sizing: border-box;
}

/* line 90, ../sass/style.scss */
body {
  overflow: hidden;
}

/* line 94, ../sass/style.scss */
h1 {
  font-size: 50px;
  margin: 33px 0;
}

/* line 99, ../sass/style.scss */
h3 {
  font-weight: normal;
}

/* line 103, ../sass/style.scss */
#wrapper {
  position: relative;
  overflow: hidden;
}

/* line 108, ../sass/style.scss */
.adminpanel {
  width: 400px;
  background: #fff;
  min-height: 400px;
  margin: 100px auto 0;
  padding: 15px 15px 70px;
  position: relative;
}

/* line 117, ../sass/style.scss */
.formrow {
  margin: 10px 0;
}
/* line 120, ../sass/style.scss */
.formrow label {
  width: 120px;
  float: left;
}
/* line 125, ../sass/style.scss */
.formrow input {
  border: 0 none;
  background: #f1f1f1;
  padding: 5px;
  width: 250px;
}

/* line 133, ../sass/style.scss */
.tabbox ul {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 46px;
}
/* line 139, ../sass/style.scss */
.tabbox ul:after {
  clear: both;
}
/* line 143, ../sass/style.scss */
.tabbox ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 33.3333333333333%;
  float: left;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  border: 1px solid #bbb;
  border-left: 0 none;
}
/* line 155, ../sass/style.scss */
.tabbox ul li:first-child {
  border: 1px solid #bbb;
}
/* line 159, ../sass/style.scss */
.tabbox ul li.active, .tabbox ul li:hover {
  background: #f1f1f1;
}
/* line 166, ../sass/style.scss */
.tabbox .tab {
  display: none;
}
/* line 168, ../sass/style.scss */
.tabbox .tab.active {
  display: block;
}

/* line 174, ../sass/style.scss */
.btn.save-btn, .btn.install-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  -ms-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}
/* line 186, ../sass/style.scss */
.btn.save-btn i, .btn.install-btn i {
  display: none;
}
/* line 190, ../sass/style.scss */
.btn.save-btn:active, .btn.save-btn:focus, .btn.install-btn:active, .btn.install-btn:focus {
  outline: none;
}
/* line 195, ../sass/style.scss */
.btn.save-btn span, .btn.install-btn span {
  display: none;
}
/* line 198, ../sass/style.scss */
.btn.save-btn span.sv, .btn.install-btn span.sv {
  display: inline;
}
/* line 203, ../sass/style.scss */
.btn.save-btn.error span.sv, .btn.save-btn.success span.sv, .btn.save-btn.saving span.sv, .btn.install-btn.error span.sv, .btn.install-btn.success span.sv, .btn.install-btn.saving span.sv {
  display: none;
}
/* line 209, ../sass/style.scss */
.btn.save-btn.saving i, .btn.install-btn.saving i {
  display: inline-block;
}
/* line 213, ../sass/style.scss */
.btn.save-btn.error, .btn.install-btn.error {
  background-color: #d93939 !important;
}
/* line 216, ../sass/style.scss */
.btn.save-btn.error span.er, .btn.install-btn.error span.er {
  display: inline;
}
/* line 221, ../sass/style.scss */
.btn.save-btn.success, .btn.install-btn.success {
  background-color: #81d939 !important;
}
/* line 224, ../sass/style.scss */
.btn.save-btn.success span.su, .btn.install-btn.success span.su {
  display: inline;
}

/* line 230, ../sass/style.scss */
.adminpanel h2 {
  text-align: center;
}

/* line 234, ../sass/style.scss */
#start, #admin, #install {
  width: 100%;
  background: url(../img/bg.jpg) center center no-repeat;
  background-size: cover;
}

/* line 240, ../sass/style.scss */
.names {
  margin: 120px auto 0;
  height: 281px;
}

/* line 245, ../sass/style.scss */
#result {
  width: 100%;
  background: center center no-repeat;
  background-size: cover;
  z-index: 2;
}

/* line 252, ../sass/style.scss */
.resultInner {
  position: absolute;
  bottom: 50px;
  width: 100%;
  height: 70px;
  left: 0;
  right: 0;
  text-align: center;
}
/* line 260, ../sass/style.scss */
.resultInner .btn {
  display: inline-block;
}

/* line 265, ../sass/style.scss */
.spinner {
  font-size: 80px;
  color: #e67e22;
}

/* line 270, ../sass/style.scss */
.btn {
  padding: 20px 40px;
  border: 0 none;
  background: #e67e22;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  margin: auto;
  width: 200px;
  text-align: center;
  font-size: 20px;
}

/* line 283, ../sass/style.scss */
.btn:active,
.btn:focus,
.btn:hover {
  background: #d35400;
}

/* line 289, ../sass/style.scss */
#loader {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.9);
  display: none;
  z-index: 100;
  font-size: 50px;
  text-align: center;
}

/* line 304, ../sass/style.scss */
.loaderInner {
  position: absolute;
  left: 50%;
  margin-left: -250px;
  height: 200px;
  width: 500px;
  top: 50%;
  margin-top: -100px;
}

/* line 314, ../sass/style.scss */
.homebtn {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 14px;
  width: 130px;
}

/* line 322, ../sass/style.scss */
.qr {
  display: none;
  width: 500px;
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
}

/* line 331, ../sass/style.scss */
.qr p {
  margin: 0;
  padding: 0 15px;
  font-size: 25px;
}

/* line 338, ../sass/style.scss */
.qr > * {
  display: none;
}
/* line 341, ../sass/style.scss */
.qr.active > * {
  display: block;
}

/* line 346, ../sass/style.scss */
.qrbtn {
  background: #fff;
  color: #000;
}

/* line 351, ../sass/style.scss */
.qrbtn:hover {
  background: #f1f1f1;
  color: #000;
}

/* line 356, ../sass/style.scss */
.qrbtn.active {
  background: #fff !important;
  color: #000;
  padding: 0;
}

/* line 362, ../sass/style.scss */
.qrbtn.active span.qrbtnlabel {
  display: none;
}

/* line 366, ../sass/style.scss */
.qr img {
  width: 100%;
  height: auto;
}

.send-mail {
  z-index: 1600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 25px 15px 15px;
  min-width: 250px;
  display: none;
}

#send-mail-close {
  position: absolute;
  right: 14px;
  top: 14px;
  font-size: 28px;
  cursor: pointer;
}

.mail-form-input {
  padding: 15px;
  margin: 12px 0;
  width: 100%;
}

/* line 371, ../sass/style.scss */
.spacer {
  clear: both;
  height: 50px;
  width: 100%;
}

/* line 377, ../sass/style.scss */
.loading {
  font-size: 50px;
  text-align: center;
  width: 100%;
}

/* line 383, ../sass/style.scss */
.stages {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

/* line 393, ../sass/style.scss */
.takePic {
  text-align: center;
  display: block;
  width: 250px;
  position: absolute;
  bottom: 90px;
  left: 50%;
  margin-left: -125px;
}

/* line 403, ../sass/style.scss */
.linebetween {
  width: 100%;
  border: 0 none;
}

/* line 409, ../sass/style.scss */
.middeline {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
}

/* line 416, ../sass/style.scss */
hr.small {
  width: 50%;
  display: block;
  margin: auto;
}

/* line 422, ../sass/style.scss */
.blurred {
  display: none;
  color: #fff;
  width: 100%;
  height: 250px;
  background: url(../img/bg.jpg) center center no-repeat;
  background-size: cover;
  -webkit-filter: blur(6px);
  -moz-filter: blur(6px);
  -o-filter: blur(6px);
  -ms-filter: blur(6px);
  filter: blur(6px);
  position: absolute;
  top: 50%;
  margin-top: -125px;
}

/* line 439, ../sass/style.scss */
.inner {
  background: rgba(0, 0, 0, 0.5);
  max-width: 720px;
  min-width: 450px;
  height: 700px;
  position: absolute;
  top: 50%;
  margin-top: -350px;
  color: #fff;
  text-align: center;
  padding: 20px 50px;
  text-transform: uppercase;
  left: 50%;
  margin-left: -225px;
}

/* line 454, ../sass/style.scss */
#gallery {
  position: fixed;
  width: 200px;
  height: 70px;
  left: 0;
  top: 0;
  display: none;
  background: #e67e22;
  overflow: hidden;
  color: #fff;
  margin-left: -1px;
}

/* line 467, ../sass/style.scss */
#gallery.open {
  /*width: 100%;
  height: 100%;*/
  display: block;
  z-index: 1000;
  padding: 0;
}

/* line 475, ../sass/style.scss */
.galleryInner {
  position: absolute;
  top: 0;
  z-index: 10000;
}

/* line 481, ../sass/style.scss */
.galleryInner div {
  float: left;
}

/* line 485, ../sass/style.scss */
.galHeader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background: #e67e22;
}

/* line 494, ../sass/style.scss */
#gallery h1 {
  margin-top: 10px;
  margin-left: 30px;
}

/* line 499, ../sass/style.scss */
#gallery div.images {
  margin: 100px 0 0;
  padding: 0;
}

/* line 503, ../sass/style.scss */
#gallery .images img {
  float: left;
  width: 33.333333333333%;
  list-style: none;
  border: 1px solid #fff;
  display: block;
}

/* line 511, ../sass/style.scss */
#gallery .images figure {
  display: none;
}

/* line 515, ../sass/style.scss */
.sliderImages {
  display: none;
  position: fixed;
  top: 0;
  z-index: 1000000;
  background: #000;
}

/* line 523, ../sass/style.scss */
.close_gal {
  position: absolute;
  right: 30px;
  top: 24px;
  color: #fff;
  font-size: 30px;
  width: 50px;
  height: 50px;
  background: #d35400;
  text-align: center;
  line-height: 50px;
  padding-top: 9px;
}

/* line 537, ../sass/style.scss */
.owl-carousel.owl-loaded {
  display: none;
}

/* line 541, ../sass/style.scss */
.overlay {
  display: none;
  background-color: #000;
  width: 400px;
  height: 200px;
  position: fixed;
  z-index: 1010;
  left: 50%;
  top: 50%;
  right: 0;
  bottom: 0;
}

/* line 554, ../sass/style.scss */
.gallerybox {
  position: fixed;
  z-index: 1011;
  display: none;
}

/* line 560, ../sass/style.scss */
.gallerybox img {
  width: 100%;
}

/* line 564, ../sass/style.scss */
.gallerybox .original {
  display: none;
}

/* line 568, ../sass/style.scss */
.owl-nav {
  position: fixed;
  z-index: 10000000;
  text-shadow: 0 2px 0 #000;
  font-size: 50px;
  top: 0;
}

/* line 576, ../sass/style.scss */
.owl-nav .owl-prev {
  position: fixed;
  left: 30px;
  top: 50%;
  font-size: 50px !important;
  margin-top: -25px;
  background: transparent !important;
}

/* line 585, ../sass/style.scss */
.owl-nav .owl-prev:hover,
.owl-nav .owl-next:hover {
  cursor: pointer;
}

/* line 590, ../sass/style.scss */
.owl-nav .owl-next {
  position: fixed;
  right: 30px;
  top: 50%;
  font-size: 50px !important;
  margin-top: -25px;
  background: transparent !important;
}

/* line 599, ../sass/style.scss */
#gallery .controls a.close_opengal {
  display: none;
  right: 30px;
  top: 30px;
  position: fixed;
  z-index: 10000000;
  font-size: 50px;
  text-shadow: 0 2px 0 #000;
  color: #fff;
}

/* Photoswipe Overrides */
/* line 611, ../sass/style.scss */
.pswp__caption {
  /* display: none; */
}

/* line 615, ../sass/style.scss */
.pswp__button--close {
  width: 50px;
  height: 50px;
  background: transparent;
  line-height: 50px;
  text-align: center;
  margin-right: 30px;
}

/* line 624, ../sass/style.scss */
.pswp__button--close:before {
  content: "\f00d";
  color: #fff;
  font-size: 30px;
  font: normal normal normal 30px/1 FontAwesome;
}

/* line 631, ../sass/style.scss */
.pswp__qr {
  width: 500px;
  height: 500px;
  position: absolute;
  left: 50%;
  margin-left: -250px;
  top: 50%;
  margin-top: -250px;
  z-index: 10000;
}
/* line 640, ../sass/style.scss */
.pswp__qr img {
  width: 100%;
}

/* line 645, ../sass/style.scss */
.gal-qr-code, .gal-print, .gal-print-chroma_keying, .gal-mail {
  color: #fff;
  background: transparent;
  font-size: 26px;
  text-align: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  overflow: visible;
  -webkit-appearance: none;
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
  float: right;
  opacity: 0.75;
}

/* line 663, ../sass/style.scss */
#video {
  position: absolute;
  top: 50%;
  margin-top: -240px;
  margin-left: -360px;
  left: 50%;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1005; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: scroll;
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  border-style: solid;
  border-width:0.1px;
  background-color: rgba(230, 126, 34, 0.2);
}

.sidenav a:hover {
  color: #f1f1f1;
  background-color: rgba(224, 112, 48, 0.8);
}


.activeSidenavBtn {
  background-color: rgba(230, 126, 34, 1);
}

.activeSidenavBtn a{
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: -10;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  border: none;
  background: none;
}

.imageFilter {
  text-align: center;
  display: block;
  width: 250px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -125px;
}

@media (max-width: 767px) {
  /* line 672, ../sass/style.scss */
  .takePic {
    bottom: auto;
  }
}
