:root {
  --primary-color: #e67e22;
  --secondary-color: #d35400;
  --font-color: #ffffff; }

@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 200;
  src: local("Dosis ExtraLight"), local("Dosis-ExtraLight"), url(../fonts/dosis/ExtraLight.woff) format("woff"); }

@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 300;
  src: local("Dosis Light"), local("Dosis-Light"), url(../fonts/dosis/Light.woff) format("woff"); }

@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local("Dosis Regular"), local("Dosis-Regular"), url(../fonts/dosis/Regular.woff) format("woff"); }

@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 500;
  src: local("Dosis Medium"), local("Dosis-Medium"), url(../fonts/dosis/Medium.woff) format("woff"); }

@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 600;
  src: local("Dosis SemiBold"), local("Dosis-SemiBold"), url(../fonts/dosis/SemiBold.woff) format("woff"); }

@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 700;
  src: local("Dosis Bold"), local("Dosis-Bold"), url(../fonts/dosis/Bold.woff) format("woff"); }

@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 800;
  src: local("Dosis ExtraBold"), local("Dosis-ExtraBold"), url(../fonts/dosis/ExtraBold.woff) format("woff"); }

* {
  -ms-content-zooming: none;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%; }

h1, h2 {
  font-weight: 300; }

h1 {
  font-size: 3rem;
  margin: 33px 0; }

h3 {
  font-weight: normal; }

.deselect ::selection {
  background: transparent;
  color: inherit; }

.deselect ::-moz-selection {
  background: transparent;
  color: inherit; }

.deselect {
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

body {
  padding: 0;
  margin: 0;
  font-family: 'Dosis', sans-serif;
  font-weight: 300;
  color: #2b2127;
  font-size: 1em;
  line-height: 1.5;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  overflow: hidden; }

.btn {
  padding: 20px 40px;
  border: 0 none;
  background: var(--primary-color);
  display: inline-block;
  color: var(--font-color);
  text-decoration: none;
  margin: auto;
  width: 200px;
  text-align: center;
  font-size: 16px; }
  .btn--small {
    padding: 12px 40px; }
  .btn--flex {
    width: auto; }
  .btn:active, .btn:focus, .btn:hover {
    background: var(--secondary-color); }

.btn.save-btn,
.btn.install-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  -ms-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear; }
  .btn.save-btn i,
  .btn.install-btn i {
    display: none; }
  .btn.save-btn:active, .btn.save-btn:focus,
  .btn.install-btn:active,
  .btn.install-btn:focus {
    outline: none; }
  .btn.save-btn span,
  .btn.install-btn span {
    display: none; }
    .btn.save-btn span.sv,
    .btn.install-btn span.sv {
      display: inline; }
  .btn.save-btn.error span.sv,
  .btn.save-btn.success span.sv,
  .btn.save-btn.saving span.sv,
  .btn.install-btn.error span.sv,
  .btn.install-btn.success span.sv,
  .btn.install-btn.saving span.sv {
    display: none; }
  .btn.save-btn.saving i,
  .btn.install-btn.saving i {
    display: inline-block; }
  .btn.save-btn.error,
  .btn.install-btn.error {
    background-color: #d93939 !important; }
    .btn.save-btn.error span.er,
    .btn.install-btn.error span.er {
      display: inline; }
  .btn.save-btn.success,
  .btn.install-btn.success {
    background-color: #81d939 !important; }
    .btn.save-btn.success span.su,
    .btn.install-btn.success span.su {
      display: inline; }

.gallery {
  position: fixed;
  width: 0px;
  height: 0px;
  left: 0;
  top: 0;
  background: var(--primary-color);
  overflow: hidden;
  color: var(--font-color);
  transition: width 0.3s, height 0.3s;
  z-index: 1000; }
  .gallery h1 {
    margin-top: 10px;
    margin-left: 30px; }
  .gallery--open {
    width: 100%;
    height: 100%;
    padding: 0; }
  .gallery__close {
    position: absolute;
    right: 30px;
    top: 24px;
    color: #fff;
    font-size: 30px;
    width: 50px;
    height: 50px;
    background: var(--secondary-color);
    text-align: center;
    line-height: 50px; }
  .gallery__inner {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column; }
  .gallery__header {
    height: 100px;
    width: 100%;
    background: var(--primary-color); }
  .gallery__body {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    justify-content: center; }
    .gallery__body a {
      display: block;
      width: 33.333333333333%;
      padding: 3px;
      max-width: 500px; }
    .gallery__body img {
      max-width: 100%;
      list-style: none;
      border: 1px solid #fff;
      display: block; }
    .gallery__body figure {
      display: none; }

.gallery-button {
  position: relative;
  z-index: 100; }

.sidenav {
  width: 100%;
  position: fixed;
  z-index: 1005;
  top: 0;
  bottom: 0;
  right: -100%;
  background: rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  overflow-y: auto;
  padding: 60px 30px;
  transition: right 0.5s; }
  @media (min-width: 576px) {
    .sidenav {
      width: 250px;
      right: -250px; } }
  .sidenav--open {
    right: 0; }
  .sidenav a {
    text-transform: uppercase;
    margin-bottom: 3px;
    background-color: var(--primary-color); }
    .sidenav a:hover {
      background-color: var(--secondary-color); }
  .sidenav .btn {
    width: 100%; }
  .sidenav .closebtn {
    position: absolute;
    right: 30px;
    top: 0;
    color: var(--font-color);
    font-size: 30px;
    width: 50px;
    height: 50px;
    background: var(--primary-color);
    text-align: center;
    line-height: 50px; }
    .sidenav .closebtn:hover {
      background: var(--secondary-color); }
  .sidenav .activeSidenavBtn a {
    background-color: var(--secondary-color); }

::-webkit-scrollbar {
  width: 6px; }

/* Track */
::-webkit-scrollbar-track {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: transparent; }

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  background: var(--secondary-color); }

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  justify-content: center;
  align-items: center; }
  .modal--show {
    display: flex; }
  .modal__body {
    color: #ffffff;
    font-size: 2em;
    text-align: center;
    max-width: 100%;
    padding: 6px; }
    .modal__body * {
      max-width: 100%; }
    #qrCode .modal__body {
      background-color: #ffffff;
      color: #252525; }
      #qrCode .modal__body p {
        margin: 0; }

.pswp__button--close {
  color: #ffffff;
  width: 50px;
  height: 50px;
  font-size: 26px;
  opacity: 0.75;
  background-image: none; }
  .pswp__button--close > i {
    position: relative;
    z-index: -1; }

.pswp__qr {
  width: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 10000;
  transform: translate(-50%, -50%);
  max-width: 100%; }
  .pswp__qr img {
    width: 100%; }

#wrapper {
  display: none;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  background-image: url(../img/bg.jpg);
  background-position: center center;
  background-size: cover; }
  #wrapper.bluegray-bg {
    background-image: url(../img/bg_bluegray.jpg); }

.adminpanel {
  width: 400px;
  background: #fff;
  min-height: 400px;
  margin: 100px auto 0;
  padding: 15px 15px 70px;
  position: relative; }
  .adminpanel h2 {
    text-align: center; }

#result {
  width: 100%;
  background: center center no-repeat;
  background-size: cover;
  z-index: 2; }

.resultInner {
  display: flex;
  position: absolute;
  bottom: -64px;
  left: 0;
  right: 0;
  justify-content: center;
  transition: bottom 0.5s;
  z-index: 100; }
  .resultInner.show {
    bottom: 0; }
  .resultInner .btn {
    width: auto;
    padding: 20px 0;
    text-align: center;
    flex-grow: 1;
    max-width: 250px;
    margin: initial; }
  @media (max-width: 576px) {
    .resultInner span {
      display: none; } }

#counter {
  backface-visibility: hidden;
  font-size: 12em;
  opacity: 0.2; }

#counter.tick {
  font-size: 1em;
  opacity: 1;
  transition: font-size 0.75s, opacity 0.75s; }

#loader {
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.9);
  color: #252525;
  z-index: 100;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0; }
  #loader.open {
    display: flex; }
  #loader .spinner {
    font-size: 80px; }

.homebtn {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 14px;
  width: 130px; }

.qr {
  display: none;
  width: 500px;
  position: absolute;
  left: 0;
  top: 0;
  background: #fff; }
  .qr > * {
    display: none; }
  .qr.active > * {
    display: block; }
  .qr p {
    margin: 0;
    padding: 0 15px;
    font-size: 25px; }
  .qr img {
    width: 100%;
    height: auto; }

.send-mail {
  z-index: 1600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 25px 15px 15px;
  min-width: 250px;
  display: none; }

#send-mail-close {
  position: absolute;
  right: 14px;
  top: 14px;
  font-size: 28px;
  cursor: pointer; }

.mail-form-input {
  padding: 15px;
  margin: 12px 0;
  width: 100%; }

.spacer {
  clear: both;
  height: 50px;
  width: 100%; }

.loading {
  font-size: 50px;
  text-align: center;
  width: 100%; }

.stages {
  display: none;
  height: 100%;
  width: 100%; }

hr.small {
  width: 50%;
  display: block;
  margin: auto; }

.blurred {
  display: none;
  color: #fff;
  width: 100%;
  height: 250px;
  background: url(../img/bg.jpg) center center no-repeat;
  background-size: cover;
  -webkit-filter: blur(6px);
  -moz-filter: blur(6px);
  -o-filter: blur(6px);
  -ms-filter: blur(6px);
  filter: blur(6px);
  position: absolute;
  top: 50%;
  margin-top: -125px; }

#start.open {
  display: flex;
  align-items: center;
  justify-content: center; }

#start .gallery-button {
  position: fixed;
  top: 0;
  left: 0; }

#start .startInner {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  padding: 1rem;
  text-transform: uppercase; }
  #start .startInner .names {
    margin-top: 1rem;
    margin-bottom: 2rem; }
  #start .startInner .btn {
    margin-top: 3px;
    width: 80%; }
  @media (min-width: 576px) {
    #start .startInner {
      padding: 3rem; }
      #start .startInner .names {
        margin-top: 2rem;
        margin-bottom: 5rem; } }

.sliderImages {
  display: none;
  position: fixed;
  top: 0;
  z-index: 1000000;
  background: #000; }

.owl-carousel.owl-loaded {
  display: none; }

.overlay {
  display: none;
  background-color: #000;
  width: 400px;
  height: 200px;
  position: fixed;
  z-index: 1010;
  left: 50%;
  top: 50%;
  right: 0;
  bottom: 0; }

#gallery .controls a.close_opengal {
  display: none;
  right: 30px;
  top: 30px;
  position: fixed;
  z-index: 10000000;
  font-size: 50px;
  text-shadow: 0 2px 0 #000;
  color: #fff; }

.gal-qr-code, .gal-print, .gal-print-chroma_keying, .gal-mail {
  color: #fff;
  background: transparent;
  font-size: 26px;
  text-align: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  overflow: visible;
  -webkit-appearance: none;
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
  float: right;
  opacity: 0.75; }
  .gal-qr-code:hover, .gal-print:hover, .gal-print-chroma_keying:hover, .gal-mail:hover {
    opacity: 1; }

#video {
  position: absolute;
  top: 50%;
  margin-top: -240px;
  margin-left: -360px;
  left: 50%; }

.chroma-control-bar {
  margin-top: 12px;
  text-align: center; }
  @media (max-width: 576px) {
    .chroma-control-bar span {
      display: none; } }

@media (max-width: 767px) {
  .takePic {
    bottom: auto; } }
