/**
 * Global CSS Properties:
 * Default values are specified in lib/config.php
 */
:root {
  --primary-color: transparent;
  --primary-light-color: transparent;
  --warning-color: #ffc107;
  --error-color: #dc3545;
  --success-color: #198754;
  --secondary-color: transparent;
  --highlight-color: transparent;
  --secondary-font-color: transparent;
  --button-font-color: transparent;
  --start-font-color: transparent;
  --countdown-color: transparent;
  --background-countdown-color: transparent;
  --cheese-color: transparent;
  --panel-color: transparent;
  --border-color: transparent;
  --box-color: transparent;
  --gallery-button-color: transparent;
  --background-default: none;
  --background-admin: none;
  --background-chroma: none;
  --background-preview: none;
  --font-family: 'Dosis', sans-serif;
  --font-size: 1rem;
  --font-color: transparent;
  --preview-rotation: 0deg;
}
