/**
 * Modern Theme
 */
[data-ui-theme='modern'],
[data-ui-theme='modern_squared'] {
  .stage--start {
    .stage-inner {
      justify-content: flex-end;
    }

    button[data-command='cups-button'] {
      position: fixed;
      top: 2rem;
      left: 2rem;
    }
  }

  .stage--result {
    button[data-command='homebtn'] {
      position: fixed;
      top: 2rem;
      left: 2rem;
    }
  }
}

[data-ui-theme='modern'] {
  .stage--start {
    .stage-inner {
      justify-content: flex-end;
      align-items: flex-end;
    }

    .names {
      text-align: right;
    }
  }
  .pswp-rotary-focus {
    background: radial-gradient(var(--highlight-color), var(--primary-color), var(--secondary-color)) !important;
  }
}

[data-ui-theme='modern_squared'] {
  .stage--start {
    .names {
      text-align: center;
    }
  }
}
