* {
  -ms-content-zooming: none;
  box-sizing: border-box;
}

h1,
h2 {
  font-weight: 300;
}

h1 {
  font-size: 3rem;
  margin: 33px 0;
}

h3 {
  font-weight: normal;
}

.deselect ::selection {
  background: transparent;
  color: inherit;
}
.deselect ::-moz-selection {
  background: transparent;
  color: inherit;
}
.deselect {
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

p.text-muted {
  font-size: 0.8em;
  opacity: 0.7;
}

.accordion {
  a,
  a:active,
  a:focus {
    color: var(--font-color);
    text-shadow: 0 0 5px black;
  }
}

.error {
  p {
    color: red;
  }
}

hr {
  display: block;
  height: 0.1em;
  border: 0;
  border-top: 0.1em solid var(--start-font-color);
  margin: 1em 0;
  padding: 0;
}

hr.small {
  width: 50%;
  display: block;
  margin: auto;
}
