.deselect ::selection {
  background: transparent;
  color: inherit;
}
.deselect ::-moz-selection {
  background: transparent;
  color: inherit;
}
.deselect {
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
