$error: #e74c3c;
$success: #2ecc71;

/***************
* SAVE button
***************/

.save-admin-btn {
  width: 15%;
  max-width: 15em;
  min-width: 6em;
  height: 3em;
  position: fixed;
  right: 10px;
  top: 0.5em;
  z-index: 300;
  background: $primaryColor;
  color: $buttonFontColor;
  cursor: pointer;
  transition: background 0.7s ease;

  &:hover {
    background: $hoverColor;
  }

  .saving,
  .success,
  .error {
    display: none;
  }

  &.saving {
    .saving {
      display: inline-block;
    }

    .save,
    .success,
    .error {
      display: none;
    }
  }

  &.success {
    background: $success;
    .success {
      display: inline-block;
    }

    .save,
    .saving,
    .error {
      display: none;
    }
  }

  &.error {
    background: $error;
    .error {
      display: inline-block;
    }

    .save,
    .saving,
    .success {
      display: none;
    }
  }
}

/*****************************
* Embedded ADMIN PANEL button
*****************************/

.adminpanel-setting-btn {
  cursor: pointer;
  width: 10em;
  height: 2.5em;
  background: $primaryColor;
  color: $buttonFontColor;
  transition: background 0.7s ease;
  z-index: 300;
  float: left;

  &:hover {
    background: $hoverColor;
  }

  .saving,
  .success,
  .error {
    display: none;
  }

  &.saving {
    .saving {
      display: inline-block;
    }

    .save,
    .success,
    .error {
      display: none;
    }
  }

  &.success {
    background: $success;
    .success {
      display: inline-block;
    }

    .save,
    .saving,
    .error {
      display: none;
    }
  }

  &.error {
    background: $error;
    .error {
      display: inline-block;
    }

    .save,
    .saving,
    .success {
      display: none;
    }
  }
}
