.gallery {
  position: fixed;
  width: 0px;
  height: 0px;
  left: 0;
  top: 0;
  background: $secondaryColor;
  overflow: hidden;
  color: $fontColor;
  transition:
    width 0.3s,
    height 0.3s;
  z-index: 1000;

  h1 {
    margin: auto;
    text-align: center;
  }

  &--open {
    width: 100%;
    height: 100%;
    padding: 0;
  }

  &__inner {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
  }

  &__header {
    height: auto;
    max-height: 100px;
    width: 100%;
    background: $secondaryColor;

    > a {
      position: absolute;
      right: 30px;
      top: 13px;
      color: $galleryButtonColor;
      font-size: 1.875em;
      width: 50px;
      height: 50px;
      background: $mainColor;
      text-align: center;
      line-height: 50px;
    }
  }

  &__footer {
    width: 100%;
    height: auto;
    max-height: 100px;
    align-self: flex-end;
    bottom: 0;
    margin-top: auto;
    display: flex;
    justify-content: center;
    background: $secondaryColor;
    box-shadow: 0 0 1em $highlightColor;
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    justify-content: center;

    a {
      display: block;
      width: 19%;
      padding: 0.5em;
      max-width: 500px;
      text-decoration: none;
    }

    img {
      max-width: 100%;
      list-style: none;
      display: block;
    }

    figure {
      margin: 0;
      border: 1px solid $borderColor;
      background-color: $secondaryColor;
    }
  }

  img {
    border: none;
  }

  figcaption {
    border: none;
    text-align: center;
    color: $fontColor;
  }
}

.gallery__reload,
.gallery__close,
.pswp__button--close {
  width: 2em;
  height: 2em;
  line-height: 1em;
  margin: 0;
  span {
    display: none;
  }
  .fa,
  .material-icons {
    font-size: 1em;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

.gallery__img:active > figure,
.gallery__img:focus > figure,
.gallery__img:hover > figure,
.gallery__img.focused > figure,
.gallery__img:active > img,
.gallery__img:focus > img,
.gallery__img:hover > img,
.gallery__img.focused > img {
  opacity: 0.6 !important;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .gallery__body a {
    width: 33.33333%;
  }
}

@media (max-width: 800px) {
  .pswp__button--arrow--left:before,
  .pswp__button--arrow--right:before {
    top: 50%;
    position: fixed;
  }
  .pswp__button--arrow--left:before {
    left: 5%;
  }
  .pswp__button--arrow--right:before {
    right: 5%;
  }
}
