.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 16777372;
  justify-content: center;
  align-items: center;

  &--show {
    display: flex;
  }

  &__body {
    color: #ffffff;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    max-width: 100%;
    padding: 6px;

    * {
      max-width: 100%;
    }

    #qrCode &,
    #qrPswp & {
      width: 10em;
      background-color: #ffffff;
      color: #252525;

      p {
        margin: 0;
        font-size: 0.6em;
      }

      button {
        font-size: 0.6em;
      }
    }
  }
}

.modal__body {
  &.success {
    color: green;
  }
  &.warning {
    color: orange;
  }
  &.error {
    color: red;
  }
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 10px;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    animation: bounce 2s infinite ease-in-out;
    background-color: #ffffff;
  }

  &::after {
    animation-delay: -1s;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translate(-50%, -50%) scale(0);
  }
  50% {
    transform: translate(-50%, -50%) scale(1);
  }
}
