.round-btn {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  border: 2px solid $borderColor;
  background: radial-gradient($highlightColor, $mainColor, $hoverColor);
  display: inline-block;
  color: $buttonFontColor;
  text-decoration: none;
  margin: auto;
  text-align: center;
  font-size: 1em;
  position: relative;
  z-index: 10;
  span {
    display: none;
  }
  &:active,
  &:focus,
  &:hover {
    background: $hoverColor;
  }
  .fa {
    font-size: 2em;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
