::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    background: $hoverColor;
}
