$checked: #2ecc71;

.switch {
  position: relative;
  display: inline-block;
  width: 3.6em;
  height: 1.5em;
}

.switch input {
  display: none;
}

.toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $boxColor;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.toggle:before {
  position: absolute;
  content: '';
  height: 1.3em;
  width: 1.3em;
  left: 0.2em;
  bottom: 0.1em;
  background-color: $mainColor;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .toggle {
  background-color: $checked;
}

input:focus + .toggle {
  box-shadow: 0 0 1px $checked;
}

input:checked + .toggle:before {
  -webkit-transform: translateX(1.9em);
  -ms-transform: translateX(1.9em);
  transform: translateX(1.9em);
}
