#video--view,
#video--preview,
#ipcam--view {
  top: 0;
  left: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#ipcam--view {
  background-image: none;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transform: rotate($previewRotation);

  &.streaming {
    background-image: $urlBackground;
  }
}

.flip-horizontal {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
}

.flip-vertical {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
}
