#video--view,
#video--preview,
#ipcam--view {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  height: 100%;
  width: 100%;
  &.fill {
    object-fit: fill;
  }
  &.contain {
    object-fit: contain;
  }
  &.cover {
    object-fit: cover;
  }
  &.none {
    object-fit: none;
  }
  &.scale-down {
    object-fit: scale-down;
  }
}

#ipcam--view {
  background-image: none;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transform: rotate($previewRotation);

  &.streaming {
    background-image: $urlBackground;
  }
}

.flip-horizontal {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
}

.flip-vertical {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
}
