name: Build

on:
  push:
    branches:
      - dev
      - stable4
  pull_request:
    branches:
      - dev
      - stable4
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        version: [16]
        os: [ubuntu-latest, macos-11]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository and submodules
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.version }}
      - name: Install modules
        run: yarn install
      - name: Build
        run: yarn build
      - name: Get git status
        run: git status
