name: Crowdin Translation Upload

on:
  push:
    branches:
      - dev
    paths:
      - 'resources/lang/en.json'
  workflow_dispatch:

jobs:
  synchronize-with-crowdin:
    runs-on: ubuntu-latest
    if: github.repository == 'PhotoboothProject/photobooth'

    steps:

    - name: Checkout
      uses: actions/checkout@v4

    - name: crowdin action
      uses: crowdin/github-action@v2.2.0
      with:
        upload_sources: true
        upload_translations: false
        push_translations: false
        download_translations: false
        config: 'crowdin_config.yml'
      env:
        CROWDIN_PROJECT_ID: ${{ secrets.CROWDIN_PROJECT_ID }}
        CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}
