name: Crowdin Translation Download

on:
  schedule:
    # Run every saturday at 00:00
    - cron: '0 0 * * 6'
  workflow_dispatch:

jobs:
  synchronize-with-crowdin:
    runs-on: ubuntu-latest
    if: github.repository == 'PhotoboothProject/photobooth'

    steps:

    - name: Checkout
      uses: actions/checkout@v4

    - name: crowdin action
      uses: crowdin/github-action@v2.2.0
      with:
        upload_sources: true
        upload_translations: false
        download_translations: true
        skip_untranslated_strings: true
        export_only_approved: false
        push_translations: true
        commit_message: 'crowdin: automatic translation import'
        github_user_email: 'andi@unlegacy-android.org'
        github_user_name: 'Andreas Blaesius'
        localization_branch_name: crowdin_auto_import
        pull_request_title: '[Crowdin] Automatic translation import'
        pull_request_body: 'Automatic translation import from https://crowdin.com/project/photobooth'
        pull_request_base_branch_name: dev
        config: 'crowdin_config.yml'
      env:
        GITHUB_TOKEN: ${{ secrets.GH_REPO_TOKEN }}
        CROWDIN_PROJECT_ID: ${{ secrets.CROWDIN_PROJECT_ID }}
        CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}
