name: gulp-sass

on:
  push:
    branches:
      - dev
      - stable4
    paths:
      - '**.scss'
  pull_request:
    branches:
      - dev
      - stable4
    paths:
      - '**.scss'
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        node: [18]
        os: [ubuntu-latest, macos-11]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository 
        uses: actions/checkout@v3
      - name: Setup node ${{ matrix.node }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.version }}
      - name: Install Dependencies
        run: npm install
      - name: Running gulp-sass
        run: npm run build:sass
