name: Lint

on:
  push:
    branches:
      - dev
      - stable4
    paths:
      - '**.js'
  pull_request:
    branches:
      - dev
      - stable4
    paths:
      - '**.js'
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        version: [16]
        os: [ubuntu-latest, macos-11]
    runs-on: ${{ matrix.os }}
    steps:
      - name: checkout repository
        uses: actions/checkout@v2
      - name: use node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.version }}
      - name: Install modules
        run: yarn install
      - name: Lint
        run: yarn eslint
